/* 
general classes that all elements can use 
*/

/* just slap on a class cos I lazy */
.lightmode * {
  color: invert(100%);
}

/* this should work better than js style.display = none */
.nodisp {
  display: none;
}

.big-heading {
  font-size: 250%;
  /* font-size: 4rem; */
  font-weight: 400;
  line-height: 1;
  margin: 4rem;
}

button {
  font-size: inherit;
  line-height: 0.8;
  font-weight: inherit;

  appearance: button;
  background: white;
  background-image: none;
  color: inherit;
  border: 0px solid #32a1ce;
  border-radius: 0.5rem;

  width: 8rem;
  height: 2rem;

  margin: 0px;
  padding: 5px;
}

button:hover {
  background: #EEE;
}

button:active {
  border: 2px inset #EEE;
}

.pad-left {
  padding-left: 16px;
}

.custom-font {
  font-family: sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cardcontainer > div {
  border-radius: 1rem;
  background-color: #eee;
  padding: 2.5rem;
  margin: 1.5rem;
  max-width: 300px;
}

.cardcontainer > div > h6 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.cardcontainer > div > p {
  margin: 0;
  padding: 0;
}



/* --- applies to entire document --- */
body {
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  margin: 0;
}



/* --- splash cover --- */
#cover {
  height: 95vh;
  width: 100vw;
  max-width: 100%; /*if it works it works*/
  background-color: #eee;
  text-align: center;
}

#cover > div {
  display: inline-block;
}

#cover > img { /* on bigger screens */
  width: 100px;
  height: 100px;
  display: inline-block;
}


/* --- navigation --- */
header {
  position: sticky;
  height: 0;
  overflow: visible;
  top: 100px;
  left: 100px; /* doesnt work */
}

.nav-list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  margin-left: 2vw;
  padding: 24px 24px 24px 0px;

  transition: background 1s;
  z-index: 20;
  width: 20%;
  white-space: nowrap;
  border-radius: 25px;
}

.nav-list > li {
  padding-left: 40px;
}

.nav-li:hover {
  padding-left: 35px;
  border-left: 5px solid blue;
}

.nav-list:hover {
  background: rgba(50, 161, 206, 0.4);
}

.a-nav {
  color: #3271e7;
  text-decoration: inherit;
  font-size: inherit;
  transition: font-size 0.2s;
}

.a-nav:hover {
  color: #1858cd;
  cursor: pointer;
  font-size: 150%;
}

#nav-header {
  color: #1858cd;
}

.header-element {
 height: 3.5rem;
}

/*
.row-of-items {
  display: table-column;
  box-sizing: border-box;
  table-layout: fixed;
}
*/


/* Main Page */
main {
  position: relative;
  left: 100px;
  width: min(900px, calc(100vw - 200px));
  margin: auto;
}

@media screen and (max-width: 1200px) {
  main {
    margin-right: 0;
  }
}

@media scrren and (max-width: 700px) {
  /* mobile. navbar should be on top */
}