/* --- general classes --- */

:root {
  /* --main-bg-col: #150323; */
  --main-bg-col: #19141c;
  /* ADDED: for my sanity and for the more button fake hyperlink */
  --light-light-blue: #62a1f7;
  --light-blue: #3271e7;
  --dark-blue: #1858cd;
}

.hov-float {
  transition: transform 0.2s ease-in-out;
}

.hov-float:hover {
  transform: translate(0, -5px);
}

/* just slap on a class cos I lazy */
body.lightmode *:not(.img) {
  filter: invert(100%);
}

/* this should work better than js style.display = none */
.nodisp {
  display: none;
}

.pad-left {
  padding-left: 16px;
}

.mini-icon {
  width: 50%;
  height: auto;
}

.custom-font {
  font-family: "JetBrains Mono", sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

/* --- Cover --- */
.cover-text {
  text-shadow: 0px 0px 8px black;
  color: #FFF;
}

.cover-text > p {
  text-shadow: 0px 0px 8 white;
  display: inline;
  font-family: 'Protest Revolution';
  font-style: italic;
  margin: 1rem;
  /* color: Crimson; */
}

/* normal behaviour for computers */
@media screen and (min-width: 700px) {
  #cover-headings {
    left: calc(-50%);
    transform: translate(50%, 0);
    position: relative;
    text-align: left;
    overflow: wrap;
  }

  .big-heading {
    font-size: 250%;
  }

}

/* make sure your name is visible on mobile devices */
@media screen and (max-width: 700px) {
  #cover-headings,
  #cover-headings * {
    max-width: 100%;
  }

  .big-heading {
    font-size: 150%;
  }
}

.big-heading {
  /* font-size: 4rem; */
  font-weight: 400;
  line-height: 1;
  margin: 4rem;
}

/* --- button --- */
button {
  font-size: inherit;
  line-height: 0.8;
  font-weight: inherit;

  appearance: button;
  background: white;
  background-image: none;
  color: inherit;
  border: 0px solid #32a1ce;
  border-radius: 0.5rem;

  width: 8rem;
  height: 2rem;

  margin: 0px;
  padding: 5px;
}

.openbutton {
  color: white;
  display: inline-block;
  border: 1px solid white;

  margin-top: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  width: calc(100% - 6px * 2);
  font-size: 1.3rem;
  padding: 8px 8px 8px 0;
  /* more space between letters and outline
  (personal preference)*/

  transition-duration: 0.4s;
}

.openbutton::before {
  content: "";
  /* IMPORTANT */

  background-image: url('data:image/svg+xml,%3Csvg width%3D"32" height%3D"32" version%3D"1.1" viewBox%3D"0 0 6.4 6.4" xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%3E%0A %3Cg stroke%3D"%23fff" stroke-width%3D".2"%3E%0A%20 %3Cpath d%3D"m5.6 5.3v-3.4c0-0.84-0.27-1.1-1.1-1.1h-3.4" fill%3D"%23fff0"%2F%3E%0A%20 %3Cpath d%3D"m5.3 1.1-5.2 5.2"%2F%3E%0A %3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;

  position: relative;
  left: calc(100% - 1em - 5px);
  padding-right: 1em;
  background-position: center;
  background-size: 1em 1em;
}

.openbutton > p, .openbutton > div {
  display: inline;
  position: relative;
}

.openbutton:hover {
  cursor: pointer;
  background-color: #ddd;
  background: #360a50;
}

button:hover {
  background: #EEE;
}

button:active {
  border: 2px inset #EEE;
}

/* ADDED: used spans to simulate a hyperlink click
  and js shows more text */
.morebutton {
  color: var(--light-light-blue);
  text-decoration: underline;
}

.morebutton:hover {
  color: var(--dark-blue);
  cursor: pointer;
  transition: 0.5s;
}

/* Programming languages widgets */
.minicontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-content: flex-start;

  width: inherit;
  /* height: 6rem; */
}

.minicontainer > div {
  height: 2rem;
  margin: 1rem;
  padding: 1rem;

  border-radius: 1rem;
  /* flex: 1 1 max-content; */
  width: max-content;

  background-color: lightsalmon;
}

.language-name {
  color: var(--main-bg-col);
  margin: auto;
}

/* --- Cards --- */
.cardcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; 
  align-content: stretch;

  /* width: max-content; */
  width: 100%;
  height: 100%;
}

/* ADDED: Right scrolling div, used for my achievements */
.cardcontainer.rightscroll {
  overflow-x: auto;
  flex-wrap: nowrap;
}

#achievements .cardcontainer.rightscroll {
  overflow-x: visible;
  height: 100%
}

.cardcontainer>div {
  border: solid 4px white;
  background-color: var(--main-bg-col);
  padding: 2.5rem;
  margin: 1.5rem;
  flex: 1 0.5 20rem;

  transition: 0.3s ease-in-out;
}

.cardcontainer>div:hover {
  border: double 4px white;
  box-shadow: 0px 0px 1.5rem 0px rgba(95, 113, 195, 80);
}

.cardcontainer>div>h6 {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.cardcontainer>div>p {
  color: var(--light-blue);
  margin: 0;
  padding: 0;
}

/* About me - side by side */
.sidebyside {
  width: 100%;
}

.onerow {
  font-size: 1.2rem;
  line-height: 1.6rem;

  margin: 20px 10px;
  border-radius: 10px;
  padding: 15px;
  max-width: 100%;
  transition: background 0.5s;
}

.onerow img {
  border-radius: 10px;
  border: 4px solid black;
  min-width: 300px;
  object-fit: cover;
}

.sidebyside img {
  width: 100%;
  min-height: 200px;
}

@media screen and (min-width: 800px) {
  body .onerow {
    padding: 30px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 0.5 50%;
  }

  .onerow p {
    margin: 0;
  }

  .sidebyside .onerow>img {
    width: min(100%, 50vw);
  }



  .onerow .sideright:first-child {
    order: 1;
  }

}

/* flex col for inside of card */
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.flex-col img {
  margin-top: 10px;
  object-fit: contain;
  max-width: 100%;
}

.flex-col.biggerflex {
  flex-grow: 1.5;
}

/* Achievements */
#achievements .achievementfill {
  background-color: var(--dark-blue);
}

#achievements .achievementfill {
  overflow-x: scroll;
}

.achievementfill>.rscrollhint {
  padding-top: 10px;
  float: right;
  height: 80px;
}

@media screen and (min-width: 700px) {
  #achievements .flex-col {
    overflow-x: hidden;
  }
}

#achievements .flex-col {
  width: max-content;
  min-width: 275px;
}

#achievements .flex-col p {
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-bottom: 10px;
}

#achievements .flex-col img {
  min-width: 250px;
  border-radius: 8px;
  border: 4px solid yellow;

  bottom: 0;
  margin-top: auto;
}

#achievements .biggerbox, .textspace {
  min-width: 350px;
}

#achievements .textspace+img {
  min-width: 0;
  width: 240px;
}


/* scroll hints */
.scroll-hint {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10vh;

  transition: transform 0.3s ease-in-out;
}

.scroll-hint:hover {
  transform: translate(-50%, -50%);
}

.scroll-hint:hover>div {
  background: rgba(255, 255, 255, 0.5)
}

.scroll-hint>div {
  height: 0.5vh;
  margin-top: 1vh;
  border-radius: 5vh;
  background: #FFF;

  transition: background 0.3s;
}



/* --- applies to entire document --- */
body {
  font-size: 1.5rem
    /* 24px */
  ;
  line-height: 2rem
    /* 32px */
  ;
  margin: 0;
  /* background-color: #000; */
  /* background-color: #1b042b; */
  background-color: var(--main-bg-col);
}

h6,
span.bigger {
  font-size: 2rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6/*, p, div*/ {
  color: white;
}


/* --- splash cover --- */
#cover {
  /* ADDED: my version isn't full height so some content is visible
  (personal preference)*/
  height: 96vh;
  width: 100vw;
  max-width: 100%;
  /*if it works it works*/
  text-align: center;
  background-image: url("img/planet2.png");
  background-blend-mode: hard-light;
  background-color: #667;
  /* background-color: rgba(127, 127, 127, 1); */
  background-size: cover;
}

#cover>div {
  display: inline-block;
}

#cover>img {
  /* on bigger screens */
  width: 100px;
  height: 100px;
  display: inline-block;
}


/* --- navigation --- */
/* ADDED: nothing. I find my own code very verbose,
  so I didn't update it here. Your implementation might 
  be better than mine */
.nav-list {
  list-style-type: none;
  text-align: left;
  width: max-content;
}

@media screen and (max-width: 700px) {
  /* mobile. navbar should be on top */
  header {
    float: top;
  }

  li.nav-li {
    display: inline-block;
  }
}

@media screen and (min-width: 700px) {
  /* desktop navbar */

  header {
    position: sticky;
    height: 0;
    overflow: visible;
    top: 100px;
    left: 100px;
    z-index: 19;
  }

  header::before {
    content: '';
    width: calc(14vw + 140px);
    height: calc(40vh + 40px);
    left: -100px;
    top: -20px;
    position: absolute;
    background: var(--main-bg-col);
    filter: blur(20px);
    backdrop-filter: opacity(0);
  }

  .nav-list {
    margin-left: -4vw;
    padding: 24px 24px 24px 24px;

    transition: background 1s;
    z-index: 20;
    width: 25vh;
    white-space: nowrap;
    border-radius: 25px;
    position: relative;
  }

  .nav-list>li {
    padding-left: 40px;
  }

  .nav-li {
    transition:
      font-size 0.2s,
      color 0.2s;
    position: relative;
  }

  .nav-li:hover {
    padding-left: 35px;
    border-left: 5px solid blue;
    font-size: 125%;
    cursor: pointer;
  }

  #nav-sep {
    width: 2px;
    height: 40vh;
    position: absolute;
    background: white;
    left: 14vw;
  }
}

.a-nav {
  color: var(--light-blue);
  text-decoration: inherit;
  font-size: inherit;
}

.a-nav:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

button.a-nav {
  line-height: inherit;
  background: rgba(0, 0, 0, 0);

  padding: 0px;
  width: auto;
  height: auto;
}

button.a-nav:active {
  border: 0;
}

#nav-header {
  color: var(--dark-blue);
}

.header-element {
  height: 3.5rem;
}

/*
.row-of-items {
  display: table-column;
  box-sizing: border-box;
  table-layout: fixed;
}
*/


/* Main Page */

/* --- Page Sections --- */
@media screen and (max-width: 1050px) {
  body .section {
    padding-left: 0vw;
  }
}

.section {
  position: relative;
  padding: 1rem 0 10rem 25vw;
}

.section h5, .section>p {
  padding-left: 20px;
}
/*
.section {
  position: relative;
  left: 25vw;
  /* margin: auto; * /
  height: max(100vh, min-content);
  padding-bottom: 10rem;
  padding-top: 1rem;

  width: 100%;
}

.section::before {
  content: '';
  position: absolute;

  left: -25vw;
  top: 4rem;

  height: 2px;
  width: 100vw;

  backdrop-filter: blur(200px) brightness(5);
  clip-path: polygon(
    evenodd, 

    0%     0%,
    24.5%   0%,
    24.5%   2px,
    0%     2px,
    0%     0%

    /* 40% 0%, * /
    /* 100% 0%, * /
    /* 100% 100%, * /
    /* 40% 100%, * /
    /* 40% 0% * /

    );
}

.overflow-container {
  width: 70vw;
  overflow-x: scroll;
  height: 80%;
}

main {
  position: relative;
  left: 100px;
  top: -1.5rem;
  width: min(900px, calc(100vw - 200px));
  margin: auto;
}
*/


/* languages * /
#languages>div.cardcontainer>div {
  object-fit: stretch;
  max-width: 150px;
}
  */


@media screen and (max-width: 1200px) {
  main {
    margin-right: 0;
  }
}



/* Scroll Snap * /
.snap-start {
  scroll-snap-align: start;
}
*/

.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  /* scroll-behavior: auto; */
  scroll-snap-type: y proximity;
}

.scroll-container > * {
  /* Dark magic smooth scroll workaround */
  transition: translate 0.5s ease-in-out;
}

/* Slider text */
.slider {
  position: relative;
  width: max-content;
  /* overflow: hidden; */
  text-overflow: clip;
}

.slider > *:not(.slider-div) {
  animation: text-reveal .3s .5s linear both;
}

.slider > .slider-div {
  position: absolute;
  top: 0px;
  left: 4rem;
  width: calc(100% - 8rem);
  height: 106%;
  animation: slider-reveal 1s ease-in-out forwards;
}

.slider-hidden {
  background: #FFF;
}

@keyframes text-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slider-reveal {
  0% {
    width: 0px;
  }

  50% {
    width: calc(100% - 8rem);
    left: 4rem
  }

  100% {
    width: 0px;
    left: calc(100% + 4rem);
  }
}

/* Nav slider */
.slider > .nav-slider-div {
  position: absolute;
  top: 0px;
  left: 0rem;
  width: calc(100%);
  height: 106%;
  animation: nav-slider-reveal 1s ease-in-out forwards;

  background: var(--dark-blue);
}

@keyframes nav-slider-reveal {
  0% {
    width: 0px;
    opacity: 0;
  }

  40% {
    width: calc(100%);
    left: 2rem;
    opacity: 1;
  }

  100% {
    width: 0px;
    left: calc(100% + 2rem);
    opacity: 0.5;
  }
}

/* ADDED: Contact tiles and credits styling */
.contactcard {
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  width: 32px;
  height: 32px;
  text-decoration: none;
  border: 2px solid white;
  display: inline-block;
}

.contactcard:hover {
  cursor: pointer;
  border: 2px solid yellow;
}

.contactcard img {
  width: 32px;
}

#credits {
  color: wheat;
}