/* 
general classes that all elements can use 
*/

/* just slap on a class cos I lazy */
body.lightmode *:not(.img) {
  filter: invert(100%);
}

/* this should work better than js style.display = none */
.nodisp {
  display: none;
}

.cover-text {
  text-shadow: 0px 0px 8px black;
  color: #FFF;
}

.cover-text > p {
  text-shadow: 0px 0px 8 white;
  display: inline;
  font-family: 'Protest Revolution';
  font-style: italic;
  margin: 1rem;
  /* color: Crimson; */
}

#cover-headings {
  left: calc(-50%);
  transform: translate(50%, 0);
  position: relative;
  text-align: left;
}

.big-heading {
  font-size: 250%;
  /* font-size: 4rem; */
  font-weight: 400;
  line-height: 1;
  margin: 4rem;
}

button {
  font-size: inherit;
  line-height: 0.8;
  font-weight: inherit;

  appearance: button;
  background: white;
  background-image: none;
  color: inherit;
  border: 0px solid #32a1ce;
  border-radius: 0.5rem;

  width: 8rem;
  height: 2rem;

  margin: 0px;
  padding: 5px;
}

button:hover {
  background: #EEE;
}

button:active {
  border: 2px inset #EEE;
}

.pad-left {
  padding-left: 16px;
}

.custom-font {
  font-family: "JetBrains Mono", sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

.mini-icon {
  width: 50%;
  height: auto;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cardcontainer>div {
  border-radius: 1rem;
  background-color: #eee;
  padding: 2.5rem;
  margin: 1.5rem;
  max-width: 300px;
}

.cardcontainer>div>h6 {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.cardcontainer>div>p {
  margin: 0;
  padding: 0;
}

.sidebyside {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

p.sideleft,
p.sideright {
  flex: 1 0 50%;
  /* grow shrink basis */
}

div.sideleft,
div.sideright {
  flex: 1 0 30%;
  max-height: 200px;
}

.sidebyside img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  bottom: 0;
  object-position: bottom;
}

/* scroll hints */
.scroll-hint {
  position: absolute;
  top: 95vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10vh;

  transition: transform 0.3s ease-in-out;
}

.scroll-hint:hover {
  transform: translate(-50%, -50%);
}

.scroll-hint:hover>div {
  background: rgba(255, 255, 255, 0.5)
}

.scroll-hint>div {
  height: 1vh;
  margin-top: 1vh;
  border-radius: 5vh;
  background: #FFF;

  transition: background 0.3s;
}



/* --- applies to entire document --- */
body {
  font-size: 1.5rem
    /* 24px */
  ;
  line-height: 2rem
    /* 32px */
  ;
  margin: 0;
  /* background-color: #000; */
  /* background-color: #1b042b; */
  background-color: #150323;
  color: black;
}

h6,
span.bigger {
  font-size: 2rem;
  font-weight: 400;
}



/* --- splash cover --- */
#cover {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  /*if it works it works*/
  text-align: center;
  background-image: url("img/planet2.png");
  background-blend-mode: hard-light;
  background-color: #666;
  /* background-color: rgba(127, 127, 127, 1); */
  background-size: cover;
}

#cover>div {
  display: inline-block;
}

#cover>img {
  /* on bigger screens */
  width: 100px;
  height: 100px;
  display: inline-block;
}


/* --- navigation --- */
.nav-list {
  list-style-type: none;
  text-align: left;
}

@media screen and (max-width: 700px) {
  /* mobile. navbar should be on top */
  header {
    float: top;
  }
}

@media screen and (min-width: 700px) {
  /* desktop with goofy navbar */

  header {
    position: sticky;
    height: 0;
    overflow: visible;
    top: 100px;
    left: 100px;
    /* doesnt work */
  }

  .nav-list {
    margin-left: 2vw;
    padding: 24px 24px 24px 0px;

    transition: background 1s;
    z-index: 20;
    width: 20%;
    white-space: nowrap;
    border-radius: 25px;
    position: relative;
  }

  .nav-list>li {
    padding-left: 40px;
  }

  .nav-li:hover {
    padding-left: 35px;
    /* border-left: 5px solid blue; */
  }

  .nav-li {
    position: relative;
  }

  .nav-li:hover::before {
    position: absolute;
    content: '';
    width: 0.7rem;
    height: 100%;
    left: 0rem;
    /* backdrop-filter: blur(20px); */
    /* mask-image: linear-gradient(0.25turn, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
    z-index: 18;
    /* filter: brightness(12); */
    filter: blur(10px);
    clip-path: view-box;
    background: red;
  }

}


/* .nav-list:hover { */
  /* background: rgba(50, 161, 206, 0.4); */
/* } */

.nav-list::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(60px);
  /* border-radius: 25px; */
  filter: brightness(12) blur(7px);
  /* clip-path: inset(0% 100% 0% 100% round 10px); */
  clip-path: polygon(evenodd, 0 0, 100% 0, 100% 100%, 0 100%, 0 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem);
  z-index: 30;
}

.a-nav {
  color: #3271e7;
  text-decoration: inherit;
  font-size: inherit;
  transition: font-size 0.2s;
}

.a-nav:hover {
  color: #1858cd;
  cursor: pointer;
  font-size: 150%;
}

#nav-header {
  color: #1858cd;
}

.header-element {
  height: 3.5rem;
}

/*
.row-of-items {
  display: table-column;
  box-sizing: border-box;
  table-layout: fixed;
}
*/


/* Main Page */
.section {
  position: relative;
  left: 200px;
  margin: auto;
}


main {
  position: relative;
  left: 100px;
  top: -1.5rem;
  width: min(900px, calc(100vw - 200px));
  margin: auto;
}


/* languages */
#languages>div.cardcontainer>div {
  object-fit: stretch;
  max-width: 150px;
}


@media screen and (max-width: 1200px) {
  main {
    margin-right: 0;
  }
}



/* Scroll Snap */
.snap-start {
  scroll-snap-align: start;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth !important;
  /* scroll-behavior: auto; */
  scroll-snap-type: y mandatory;
}

.scroll-container > * {
  /* Dark magic smooth scroll workaround */
  transition: translate 0.5s ease-in-out;
}

/* Slider text */
.slider {
  position: relative;
  width: max-content;
  /* overflow: hidden; */
  text-overflow: clip;
}

.slider > *:not(.slider-div) {
  animation: text-reveal .3s .5s linear both;
}

.slider > .slider-div {
  position: absolute;
  top: 0px;
  left: 4rem;
  width: calc(100% - 8rem);
  height: 106%;
  animation: slider-reveal 1s ease-in-out forwards;
}

.slider-hidden {
  background: #FFF;
}

@keyframes text-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider-reveal {
  0% {
    width: 0px;
  }
  50% {
    width: calc(100% - 8rem);
    left: 4rem
  }
  100% {
    width: 0px;
    left: calc(100% + 4rem);
  }
}
